In [12]:
import json
import sqlite3

conn = sqlite3.connect('rosterdb.sqlite')
cur = conn.cursor()

In [13]:

# Do some setup
cur.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE
);

CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title  TEXT UNIQUE
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
)
''')

In [19]:

fname = 'roster_data.json'
if len(fname) < 1:
    fname = 'roster_data.json'

# [
#   [ "Charley", "si110", 1 ],
#   [ "Mea", "si110", 0 ],

str_data = open(fname).read()
json_data = json.loads(str_data)

for entry in json_data:

    name = entry[0];
    title = entry[1]
    role = entry[2];

    print((name, title))

    cur.execute('''INSERT OR IGNORE INTO User (name)
        VALUES ( ? )''', ( name, ) )
    cur.execute('SELECT id FROM User WHERE name = ? ', (name, ))
    user_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Course (title)
        VALUES ( ? )''', ( title, ) )
    cur.execute('SELECT id FROM Course WHERE title = ? ', (title, ))
    course_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Member
        (user_id, course_id, role) VALUES ( ?, ?, ? )''',
        ( user_id, course_id, role))

    conn.commit()

('Deonaid', 'si110')
('Havila', 'si110')
('Breah', 'si110')
('Reeva', 'si110')
('Anmol', 'si110')
('Garrett', 'si110')
('Garry', 'si110')
('Kaylah', 'si110')
('Rivan', 'si110')
('Marykate', 'si110')
('Alesha', 'si110')
('Dineo', 'si110')
('Jensen', 'si110')
('Charley', 'si110')
('Aslam', 'si110')
('Eriz', 'si110')
('Kyie', 'si110')
('Coran', 'si110')
('Shafira', 'si110')
('Kyan', 'si110')
('Marion', 'si110')
('Saffi', 'si110')
('Reiss', 'si110')
('Kaysie', 'si110')
('Tygan', 'si110')
('Haley', 'si110')
('Fiachra', 'si110')
('Lachlann', 'si110')
('Maddie', 'si110')
('Sarina', 'si110')
('Karishma', 'si110')
('Tamzyn', 'si110')
('Catriona', 'si110')
('Keira', 'si110')
('Jaxson', 'si106')
('Torin', 'si106')
('Irmak', 'si106')
('Iman', 'si106')
('Roos', 'si106')
('Jardine', 'si106')
('Deagan', 'si106')
('Ashley', 'si106')
('Lloyd', 'si106')
('Mili', 'si106')
('Hately', 'si106')
('Johansson', 'si106')
('Zeenat', 'si106')
('Kaleem', 'si106')
('Nicolina', 'si106')
('Aleeyah', 'si106')
('Laura', 'si106')
('Francisca', 'si106')
('Rimal', 'si106')
('Coral', 'si106')
('Ellenor', 'si106')
('Annmarie', 'si106')
('Aidian', 'si106')
('Junior', 'si106')
('Lauchlan', 'si106')
('Daniels', 'si106')
('Terri', 'si106')
('Darian', 'si106')
('Alaska', 'si206')
('Daragh', 'si206')
('Rico', 'si206')
('Zuzia', 'si206')
('Mohamad', 'si206')
('Hebe', 'si206')
('Hibah', 'si206')
('Zalfa', 'si206')
('Amez', 'si206')
('Azeem', 'si206')
('Ryleigh', 'si206')
('Sharland', 'si206')
('Leia', 'si206')
('Laurence', 'si206')
('Elish', 'si206')
('Asritha', 'si206')
('Charles', 'si206')
('Chukwuemeka', 'si206')
('Denver', 'si206')
('Aleesha', 'si206')
('Tasneem', 'si206')
('Hafsah', 'si206')
('Evan', 'si206')
('Areeba', 'si206')
('Menna', 'si206')
('Carla', 'si206')
('Milosz', 'si206')
('Lael', 'si206')
('Mykie', 'si206')
('Roxana', 'si206')
('Drue', 'si206')
('Ashleen', 'si206')
('Ambanimoh', 'si206')
('Anaya', 'si206')
('Patsy', 'si206')
('Chelsea', 'si206')
('Joan', 'si206')
('Wayde', 'si206')
('Pagan', 'si206')
('Wallace', 'si206')
('Kristina', 'si206')
('Riven', 'si206')
('Darcie', 'si206')
('Connie', 'si301')
('Sonia', 'si301')
('Flyn', 'si301')
('Murry', 'si301')
('Kaelan', 'si301')
('Imani', 'si301')
('Waqaas', 'si301')
('Hope', 'si301')
('Amaylyuh', 'si301')
('Corin', 'si301')
('Malaeka', 'si301')
('Kinsey', 'si301')
('Anthony', 'si301')
('Elodie', 'si301')
('Izabel', 'si301')
('Haillie', 'si301')
('Roark', 'si301')
('Aoibhe', 'si301')
('Andrea', 'si301')
('Abrar', 'si301')
('Evelyn', 'si301')
('Teagen', 'si301')
('Shayna', 'si310')
('Ebeny', 'si310')
('Isaac', 'si310')
('Cairn', 'si310')
('Adain', 'si310')
('Reeva', 'si310')
('Isabela', 'si310')
('Aimeeleigh', 'si310')
('Jaz', 'si310')
('Kandel', 'si310')
('Ruo', 'si310')
('Veera', 'si310')
('Danya', 'si310')
('Mea', 'si310')
('Nora', 'si310')
('Manal', 'si310')
('Oghenedoro', 'si310')
('Aulay', 'si310')
('Omri', 'si310')
('Cassy', 'si310')
('Eibhlin', 'si310')
('Sethu', 'si310')
('Insiya', 'si310')
('Daegan', 'si310')
('Eaden', 'si310')
('Ayla', 'si310')
('Mia', 'si310')
('Nureza', 'si310')
('Kody', 'si310')
('Shanelle', 'si310')
('Rameesah', 'si310')
('Jill', 'si310')
('Tiana', 'si310')
('Darius', 'si310')
('Katelin', 'si310')
('Coupar', 'si310')
('Bruce', 'si310')
('Portia', 'si334')
('Tiegan', 'si334')
('Kristian', 'si334')
('Fatimah', 'si334')
('Muneeba', 'si334')
('Barney', 'si334')
('Latifa', 'si334')
('Gillian', 'si334')
('Morag', 'si334')
('Wallace', 'si334')
('Stella', 'si334')
('Kelsay', 'si334')
('Fiachra', 'si334')
('Ardal', 'si334')
('Humayra', 'si334')
('Cain', 'si334')
('Alastair', 'si334')
('Kalen', 'si334')
('Chanelle', 'si334')
('Nontando', 'si334')
('Gerard', 'si334')
('Khaya', 'si334')
('Finn', 'si334')
('Aara', 'si334')
('Lexi', 'si334')
('Chahat', 'si334')
('Raymond', 'si334')
('Ibraheem', 'si334')
('Camillie', 'si334')
('Gordon', 'si334')
('Dennan', 'si334')
('Dalong', 'si334')
('Hajirah', 'si334')
('Mackenzy', 'si334')
('Eren', 'si334')
('Adil', 'si363')
('Bronte', 'si363')
('Raunaq', 'si363')
('Abbie', 'si363')
('Shihed', 'si363')
('Zahra', 'si363')
('Neiv', 'si363')
('Racheal', 'si363')
('Lochlan', 'si363')
('Nabeeha', 'si363')
('Rihana', 'si363')
('Iman', 'si363')
('Tyja', 'si363')
('Ralfs', 'si363')
('Ken', 'si363')
('Rylan', 'si363')
('Samanthalee', 'si363')
('Irfa', 'si363')
('Arda', 'si363')
('Rebeca', 'si363')
('Boys', 'si363')
('Preet', 'si363')
('Olaoluwapolorimi', 'si363')
('Hibatullah', 'si363')
('Tamta', 'si363')
('Norrie', 'si363')
('Carlo', 'si363')
('Kalvyn', 'si363')
('Ruairidh', 'si363')
('Karrah', 'si363')
('Oriane', 'si363')
('Kaia', 'si363')
('Elyce', 'si363')
('Zeynep', 'si363')
('Lilly', 'si363')
('Amrit', 'si363')
('Gurardass', 'si363')
('Zeek', 'si363')
('Aled', 'si363')
('Davy', 'si363')
('Ehsan', 'si363')
('Kingston', 'si363')
('Abiya', 'si363')
('Chala', 'si363')
('Sahra', 'si363')
('Lennox', 'si363')
('Liala', 'si363')
('Reeha', 'si363')
('Marko', 'si363')
('Gurdeep', 'si363')
('Meenal', 'si363')
('Banan', 'si363')
('Damian', 'si364')
('Pauline', 'si364')
('Shaarvin', 'si364')
('Ailidh', 'si364')
('Calean', 'si364')
('Helen', 'si364')
('Kobi', 'si364')
('Luis', 'si364')
('Rio', 'si364')
('Ayleen', 'si364')
('Kalin', 'si364')
('Grady', 'si364')
('Edison', 'si364')
('Ula', 'si364')
('Leanne', 'si364')
('Roxabella', 'si364')
('Lylakay', 'si364')
('Etiene', 'si364')
('Alasdair', 'si364')
('Christy', 'si364')
('Anousha', 'si364')
('Pawlo', 'si364')
('Larosa', 'si364')
('Kacey', 'si364')
('Shaurya', 'si364')
('Kiranpreet', 'si364')
('Ruari', 'si364')
('Kellyanne', 'si364')
('Talise', 'si364')
('Kodie', 'si364')
('Selena', 'si364')
('Berlin', 'si364')
('Kenzi', 'si364')
('Rajwinder', 'si364')
('Nasifa', 'si364')
('Didier', 'si364')
('Mikael', 'si364')
('Lanakai', 'si364')
('Uzair', 'si364')
('Johnpaul', 'si364')
('Phebe', 'si364')
('Kade', 'si364')
('Ezri', 'si422')
('Eduardo', 'si422')
('Rae', 'si422')
('Bo', 'si422')
('Torsten', 'si422')
('Blyth', 'si422')
('Adelaide', 'si422')
('Cindy', 'si422')
('Shelby', 'si422')
('Millar', 'si422')
('Bryn', 'si422')
('Frederick', 'si422')
('Khansa', 'si422')
('Hollie', 'si422')
('Matia', 'si422')
('Fergal', 'si422')
('Ayat', 'si422')
('Mindi', 'si422')
('Moayd', 'si422')
('Shiza', 'si422')
('Lavena', 'si422')
('Nikhil', 'si422')
('Annalise', 'si422')
('Norea', 'si422')
('Cailaen', 'si422')
('Alleisha', 'si422')
('Merina', 'si422')
('Naisha', 'si422')
('Ameerah', 'si422')
('Mehik', 'si422')
('Khevien', 'si422')
('Zamaar', 'si422')
('Nicodemus', 'si422')
('Alecia', 'si422')
('Jensyn', 'si422')
('Elisau', 'si422')
('Blair', 'si422')
('Omar', 'si422')
('Kaila', 'si422')
('Keleigh', 'si422')
('Artem', 'si422')
('Seaan', 'si422')
('Bowen', 'si422')
('Codie', 'si422')
('Seonag', 'si422')
('Brooke', 'si422')
('Muneeb', 'si422')
('Umair', 'si422')
('Shayla', 'si430')
('Sunehri', 'si430')
('Thumbiko', 'si430')
('Sharona', 'si430')
('Bryn', 'si430')
('Tira', 'si430')
('Mathilda', 'si430')
('Elvin', 'si430')
('Naomie', 'si430')
('Ailsa', 'si430')
('Azlan', 'si430')
('Xanthia', 'si430')
('Kornelija', 'si430')
('Deano', 'si430')
('Ailish', 'si430')
('Remigiusz', 'si430')
('Jersey', 'si430')
('Viktoria', 'si430')
('Corrie', 'si430')
('Ming', 'si430')
('Kodi', 'si430')
('Martha', 'si430')
('Melis', 'si430')
('McKade', 'si430')
('Radmiras', 'si430')
('Norman', 'si430')
('Aoife', 'si430')
('Bradley', 'si430')
('Atlanta', 'si430')
('Melandra', 'si430')
('Rose', 'si430')
('Chidera', 'si430')
('Igor', 'si430')

In [17]:

fname = 'roster_data.json'
if len(fname) < 1:
    fname = 'roster_data.json'

# [
#   [ "Charley", "si110", 1 ],
#   [ "Mea", "si110", 0 ],

str_data = open(fname).read()
json_data = json.loads(str_data)

for entry in json_data:

    name = entry[0];
    title = entry[1];
    role = entry[2];

1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0